Source: salt-formula-powerdns
Maintainer: MOS Linux Team <mos-linux@mirantis.com>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/salt-formulas/salt-formula-powerdns
Vcs-Git: https://github.com/salt-formulas/salt-formula-powerdns.git

Package: salt-formula-powerdns
Architecture: all
Depends: ${misc:Depends}
Description: PowerDNS salt formula
 Install and configure PowerDNS server.
