
{%- set server = salt['grains.filter_by']({
    'Debian': {
        'service': 'pdns',
        'config': '/etc/powerdns/pdns.conf',
        'local_config': '/etc/powerdns/pdns.d/pdns.local.conf',
        'backend': {
            'engine': 'mysql',
            'host': 'localhost',
            'port': '3306',
            'dbname': 'powerdns',
            'user': 'mysql',
            'password': 'mysql',
            'timeout': 10,
            'dnssec': 'on'
        },
        'bind': {
            'address': '127.0.0.1',
            'port': 53,
        },
        'default_soa_name': 'a.very.best.power.dns.server',
        'soa_minimum_ttl': 3600
    },
    'RedHat': {
        'service': 'pdns',
        'config': '/etc/powerdns/pdns.conf',
        'local_config': '/etc/powerdns/pdns.d/pdns.local.conf',
        'backend': {
            'engine': 'mysql',
            'host': 'localhost',
            'port': '3306',
            'dbname': 'powerdns',
            'user': 'mysql',
            'password': 'mysql',
            'timeout': 10,
            'dnssec': 'on'
        },
        'bind': {
            'address': '127.0.0.1',
            'port': 53,
        },
        'default_soa_name': 'a.very.best.power.dns.server',
        'soa_minimum_ttl': 3600
    },
}, merge=salt['pillar.get']('powerdns:server')) %}
